#include "config.h"
#include "yume.h"
#include "project.h"

int main() {
#pragma region INITIALIZATION
    /* ------------------------------------------------
    * ---------------- INITIALIZATION -----------------
    * ------------------------------------------------- */
    yumegl::init("car runner");
    yumegl::eFunc::setColor(colour::BLACK());

    // DEPTH
    glEnable(GL_DEPTH_TEST);

    // OBJECTS
    start:
    auto* player = new rd::TexSquare("../assets/textures/cat.png", mathy::vec3yu<>{ 0.5f, 0.6f, 0.0f }, colour::BLUE(), mathy::vec2yu<>{ 0.09f, 0.16f });
    player->shader.genShader("../assets/shaders/texture/vertex.glsl", "../assets/shaders/texture/fragment.glsl");
    player->setRotation(mathy::vec3yu<>{ 0.0f, 0.0f, 1.0f }, 180.0f);
    float jumpTime{ 0.6f };
    float jumpTimer{ jumpTime };
    float jumpForce{ 1.1f };
    bool jumping{ false };
    bool canJump{ true };

    auto* ground = new rd::TexSquare("../assets/textures/sonic_grass.png", mathy::vec3yu<>{ 0.0f, 1.75f, 0.0f }, colour{ 0.0f, 0.0f, 0.0f, 1.0f }, mathy::vec2yu<>{ 1.00f, 1.0f });
    ground->shader.genShader("../assets/shaders/texture/vertex.glsl", "../assets/shaders/texture/fragment.glsl");
    ground->setRotation(mathy::vec3yu<>{ 0.0f, 0.0f, 1.0f }, 180.0f);

    auto* ground1 = new rd::TexSquare("../assets/textures/sonic_grass.png", mathy::vec3yu<>{ -2.0f, 1.75f, 0.0f }, colour{ 0.0f, 0.0f, 0.0f, 1.0f }, mathy::vec2yu<>{ 1.00f, 1.0f });
    ground1->shader.genShader("../assets/shaders/texture/vertex.glsl", "../assets/shaders/texture/fragment.glsl");
    ground1->setRotation(mathy::vec3yu<>{ 0.0f, 0.0f, 1.0f }, 180.0f);

    auto* obstacle = new rd::TexSquare("../assets/textures/obstacle.png", mathy::vec3yu<>{ 0.2f, 0.65f, 0.0f }, colour::BLUE(), mathy::vec2yu<>{ 0.06f, 0.11f });
    obstacle->shader.genShader("../assets/shaders/texture/vertex.glsl", "../assets/shaders/texture/fragment.glsl");
    obstacle->setRotation(mathy::vec3yu<>{ 0.0f, 0.0f, 1.0f }, 180.0f);

    auto* obstacle1 = new rd::TexSquare("../assets/textures/obstacle.png", mathy::vec3yu<>{ -0.9f, 0.65f, 0.0f }, colour::BLUE(), mathy::vec2yu<>{ 0.06f, 0.11f });
    obstacle1->shader.genShader("../assets/shaders/texture/vertex.glsl", "../assets/shaders/texture/fragment.glsl");
    obstacle1->setRotation(mathy::vec3yu<>{ 0.0f, 0.0f, 1.0f }, 180.0f);

    auto* obstacle2 = new rd::TexSquare("../assets/textures/obstacle.png", mathy::vec3yu<>{ -0.8f, 0.65f, 0.0f }, colour::BLUE(), mathy::vec2yu<>{ 0.06f, 0.11f });
    obstacle2->shader.genShader("../assets/shaders/texture/vertex.glsl", "../assets/shaders/texture/fragment.glsl");
    obstacle2->setRotation(mathy::vec3yu<>{ 0.0f, 0.0f, 1.0f }, 180.0f);
    obstacle2->enable = false;

    auto* lost = new rd::TexSquare("../assets/textures/lost.png", mathy::vec3yu<>{ -0.3f, 0.2f, 0.0f }, colour::BLUE(), mathy::vec2yu<>{ 0.5f, 0.5f });
    lost->shader.genShader("../assets/shaders/texture/vertex.glsl", "../assets/shaders/texture/fragment.glsl");

    auto* restart = new rd::TexSquare("../assets/textures/restart.png", mathy::vec3yu<>{ -0.8f, -0.5f, 0.0f }, colour::BLUE(), mathy::vec2yu<>{ 0.36f, 0.49f });
    restart->shader.genShader("../assets/shaders/texture/vertex.glsl", "../assets/shaders/texture/fragment.glsl");
    restart->setRotation(mathy::vec3yu<>{ 0.0f, 0.0f, 1.0f }, 180.0f);

    bool finalScoreShowed{ false };

    float gameTimer{ 0.0f };
    float gameSpeed{ 0.4f };
    float finalScore{ 0.0f };
#pragma endregion

#pragma region MAIN_LOOP
    /* ------------------------------------------------
    * ------------------ MAIN LOOP --------------------
    * ------------------------------------------------- */
    while (yumegl::isWindowOpen()) {
        // UPDATE
        yumegl::update();
        input::update();
        gameTimer += 1.0f * yumegl::dupaTime;

        if (gameTimer <= 20.0f)
            gameSpeed += 0.01f * yumegl::dupaTime;

        // GROUND
        ground->position.container.x += gameSpeed * yumegl::dupaTime;
        ground->updateVertices();
        ground->refresh();

        if (ground->position.x() > 1.0f + ground->size.x()) {
            ground->position.container.x = -1.0f - ground->size.x();
        }

        // GROUND 1
        ground1->position.container.x += gameSpeed * yumegl::dupaTime;
        ground1->updateVertices();
        ground1->refresh();

        if (ground1->position.x() > 1.0f + ground1->size.x()) {
            ground1->position.container.x = -1.0f - ground1->size.x();
        }

        // OBSTACLE
        obstacle->position.container.x += gameSpeed * yumegl::dupaTime;
        obstacle->updateVertices();
        obstacle->refresh();

        if (obstacle->position.x() > 1.0f + obstacle->size.x()) {
            obstacle->position.container.x = -1.0f - obstacle->size.x();
        }

        // OBSTACLE 1
        obstacle1->position.container.x += gameSpeed * yumegl::dupaTime;
        obstacle1->updateVertices();
        obstacle1->refresh();

        if (obstacle1->position.x() > 1.0f + obstacle1->size.x()) {
            obstacle1->position.container.x = -1.0f - obstacle1->size.x();
        }

        // OBSTACLE 2
        obstacle2->position.container.x += gameSpeed * yumegl::dupaTime;
        obstacle2->updateVertices();
        obstacle2->refresh();

        if (obstacle2->position.x() > 1.0f + obstacle2->size.x()) {
            obstacle2->position.container.x = -1.0f - obstacle2->size.x();
        }

        // PLAYER JUMPING
        if (!jumping) {
            if (player->position.y() <= 0.59f)
                player->position.container.y += 0.8f * yumegl::dupaTime;
            else
                jumping = false;
        }
        else {
            if (jumpTimer > 0.0f) {
                player->position.container.y -= jumpForce * yumegl::dupaTime;
                jumpTimer -= 1.0f * yumegl::dupaTime;
            }
            else {
                jumping = false;
                jumpTimer = jumpTime;
            }
        }

        if (player->position.y() > 0.50f)
            canJump = true;
        else
            canJump = false;

        // INPUT SYSTEM
        if (input::keyPressed(GLFW_KEY_ESCAPE))
            yumegl::setWindowStatus(false);

        if (input::keyPressed(GLFW_KEY_SPACE) && canJump) {
            std::thread playThread(playBeep, 400, 500);
            playThread.detach();
            jumping = true;
        }

        if (input::keyPressed(GLFW_KEY_R)) {
            std::thread playThread(playBeep, 600, 700);
            playThread.detach();

            delete player;
            delete ground;
            delete ground1;
            delete obstacle;
            delete obstacle1;
            delete obstacle2;
            delete lost;

            goto start;
        }

        player->updateVertices();
        player->refresh();

        /* ------------------------------------------------
         * ------------------- RENDER ---------------------
         * ------------------------------------------------ */
        glClear(GL_COLOR_BUFFER_BIT | GL_DEPTH_BUFFER_BIT);

        // TEXTURE
        player->bindTexture();
        player->render_ownShader();

        ground->bindTexture();
        ground->render_ownShader();

        ground1->bindTexture();
        ground1->render_ownShader();

        if (gameTimer > 2.0f) {
            obstacle->bindTexture();
            obstacle->render_ownShader();
        }

        obstacle1->bindTexture();
        obstacle1->render_ownShader();

        if (gameTimer > 15.0f) {
            obstacle2->bindTexture();
            obstacle2->render_ownShader();
            obstacle2->enable = true;
        }

        restart->bindTexture();
        restart->render_ownShader();

        // PRINT SCORE
        if ((int)gameTimer % 5 == 0) {
            std::cout << "score/timer: " << gameTimer << '\n';
            // clearTerminal();
        }

        // COLLISION SYSTEM
        if ((player->position.distance(obstacle->position) < player->size.x() + obstacle->size.x() ||
             player->position.distance(obstacle1->position) < player->size.x() + obstacle1->size.x() ||
             (player->position.distance(obstacle2->position) < player->size.x() + obstacle2->size.x() && obstacle2->enable)) &&
            gameTimer > 2.0f) {
            // END GAME
            lost->bindTexture();
            lost->render_ownShader();
            lost->rotate(mathy::vec3yu<>{ 0.0f, 0.0f, 1.0f }, 1.0f);

            gameSpeed = 0.0f;
            canJump = false;

            if (finalScore == 0.0f)
                finalScore = gameTimer;
            else
                gameTimer = finalScore;

            if (!finalScoreShowed) {
                std::cout << "final score : " << finalScore << '\n';
                finalScoreShowed = true;
            }
        }

        // SWAP POLL EVENTS
        yumegl::swapBuffersPollEvents();
    }
#pragma endregion

#pragma region DE_INITIALIZATION
    /* ------------------------------------------------
    * -------------- DE-INITIALIZATION ----------------
    * ------------------------------------------------- */
    delete player;
    delete ground;
    delete ground1;
    delete obstacle;
    delete obstacle1;
    delete obstacle2;
    delete lost;

    yumegl::eExit::close();
    return 0;
}